<h1>New User Form</h1>

<form action="<%= users_url %>" method="POST">
  <label>Username:
    <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
  </label>
  <br>
  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>
  <label>Submit
    <input type="submit">
  </label>
</form>