<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

    <ul class="masthead-links">
        <li>
            <i class="fas fa-hourglass-start"></i><time>Friday, March 5, 2021</time>
        </li>
        <li>
            <i class="far fa-newspaper"></i><a href="#">Tomorrow's Paper</a>
        </li>
        <li>
            <i class="fas fa-film"></i><a href="#">Hot Video</a>
        </li>
        <li>
            <i class="fas fa-snowflake"></i><button>-77°F</button>
        </li>
        <li>
            <i class="fas fa-chart-line"></i><button>GME <strong>-200%</strong></button>
        </li>
    </ul>
</header>



