<h1>New Cat Form</h1>

<form action="<%= cats_url %>" method="POST">
    <label>Name:
        <input type="text" name="cat[name]" value="<%= @cat.name %>">
    </label>

    <label>Sex:
        <input type="radio" name="cat[sex]" value="M" checked>
        <input type="radio" name="cat[sex]" value="F">
    </label>

    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>

    <input type="submit" value="Create User">


</form>